<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.choota.dmotion">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".DMotionApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.DMotion.SplashScreen"
        tools:targetApi="31">
        <activity
            android:name=".presentation.videos.VideoListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DMotion"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.videodetails.VideoDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DMotion"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".presentation.player.PlayerActivity"
            android:exported="false"
            android:theme="@style/Theme.DMotion"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"/>
        <activity
            android:name=".presentation.channels.ChannelActivity"
            android:exported="true"
            android:theme="@style/Theme.DMotion.SplashScreen"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>